
input[type=checkbox]{
	display: none;
}

input[type=checkbox] + label {
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 13px;
  position: relative;
  width: auto;
}
label {
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 13px;
  position: relative;
  width: auto;
}
input[type=checkbox] + label {
  box-sizing: border-box;
  cursor: pointer;
  padding: 5px 13px;
  position: relative;
  width: auto;
}

input[type=checkbox] + label::before {
  position: absolute;
  top: 35%;
  display: block;
  margin-top: -8px;
  width: 25px;
  height: 25px;
  content: '';
  background: rgba(59, 33, 33, 0.047);
  border-radius: 50%;
  left: -5px;
}
label::before {
  position: absolute;
  top: 35%;
  display: block;
  margin-top: -8px;
  width: 25px;
  height: 25px;
  content: '';
  background: rgba(59, 33, 33, 0.047);
  border-radius: 50%;
  left: -5px;
}

input[type=checkbox] + label::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
  display: block;
  height: 7px;
  left: 5px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

label::after {
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
  display: block;
  height: 7px;
  left: 5px;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}


.modal_medium ,
.modal_lang
{
  border-radius: 16px;
  border: solid;
  border-color: rgba(117, 111, 111, 0.047);
  background-color: rgba(117, 111, 111, 0.047);
  padding: 3px 8px;
}

.modal_medium_active,
.modal_lang_active
{
  background-color: rgba(10, 157, 248, 0.7);
}

.medium_active::before,
.lang_active::before
{
  position: absolute;
  top: 32%;
  display: block;
  margin-top: -8px;
  width: 25px;
  height: 25px;
  content: '';
  background: rgb(75, 129, 210)  !important;;
  border-radius: 50%;
  left: -5px;
}